/* @font-face {
    font-family: "ChaletComprime";
    src: url("../font/ChaletComprime.ttf");
} */

@font-face {
    font-family: "Tongari Demo Regular";
    src: url("../font/Tongari\ Demo\ Regular.ttf");
}