:root {
    --color-primary: #b69451;
    --color-secundary: #e8e8e8;
    --font-primary: "Tongari Demo Regular";
    --font-secundary: 'Ridley Grotesk', sans-serif;
    --btn-bg-color: rgba(182, 148, 81, .1);
}